<li data-md-hash="<%= hex_digest(rl) %>">
	<% lines = rl.split("\n") %>
	<a href="#" class="log <%= "error" if has_exception(rl, @all_exceptions) %>"><%= lines.shift %></a><br/>
	<div class="sub_log" style="display:none;"><%= raw print_line(lines.join("\n")) %></div>		
</li>