<div class="clear"></div>
<ul>
<% read_file(@log_file).each do |rl| %>
	<li>
		<% lines = rl.split("\n") %>
		<a href="#" class="log <%= "error" if rl.index("Error").present? %>"><%= lines.shift %></a><br/>
		<pre class="sub_log" style="display:none;"><%= print_line(lines.join("\n")) %></pre>		
	</li>
<% end %>
</ul>

<script>
	$(document).ready(function(){
		$(".log").each(function(){
			$(this).click(function(event){
                debugger;
				$(this).siblings('.sub_log').toggle();
				event.preventDefault();
			});
		});
	});
</script>
