<div class="header">  
  <div class="title">Log Viewer<span>- <%= @log_file %></span></div>
  <div class="file_info">
    Last updated: <%= Time.zone.now.to_s %></div>    
  </div>
</div>
<div class="clear"></div>

<div class="log_details">
	<div class="clear"></div>
	<ul>
	<% read_file(@log_file,@last_md5).each do |rl| %>
		<%= render "log_display", rl: rl %>
	<% end %>
	</ul>

	<script>
		$(document).ready(function(){
			enable_log_toggle();
		});
	</script>
</div>
<script>
	setInterval(function(){
		$.get('<%= root_path %>', { last_md5: $("li").first().attr('data-md-hash') } );
	}, 5000);
</script>