<div class="header">  
  <div class="title">Log Viewer<span>- <%= @log_file %></span></div>
  <div id="file_info">
    Last updated: <%= Time.zone.now.to_s %>
  </div>
</div>
<div class="clear"></div>

<div class="log_details">
	<div class="clear"></div>
	<ul>
	<% read_file(@log_file,@last_md5).each do |rl| %>
		<%= render "log_display", rl: rl %>
	<% end %>
	</ul>

	<script>
		var request_sent = false;
		$( document ).ajaxComplete(function() {
			request_sent = false;
		});
		$(document).ready(function(){
			enable_log_toggle();
			setInterval(function(){
				if(!request_sent){
					request_sent = true;
					$.get('<%= root_path %>', { last_md5: $("li").first().attr('data-md-hash') } );
				}
			}, 5000);
		});
	</script>
</div>