<div class="header">  
  <div class="title">Log Viewer<span>- <%= @log_file %></span></div>
  <div class="file_info">
    Last updated: <%= Time.zone.now.to_s %></div>    
  </div>
</div>
<div class="clear"></div>

<div class="log_details">
	<%= render "log_display" %>
</div>
