<!DOCTYPE html>
<html>
<head>
  <meta charset="ascii">
  <title>LogViewer</title>
  <%= stylesheet_link_tag    "log_viewer/application", :media => "all" %>
  <%= javascript_include_tag "log_viewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
