/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
*{
   margin:0px;
   padding:0px;
   font-family:verdana;
}

.header{
   height:35px;
   background-color:#F1F1F1;
   padding:10px;
   margin-bottom:20px;
   border-bottom:1px solid #E5E5E5;
   color:#666666; 
}

.clear{
   clear:both;   
}


.header .title{   
   float:left;
   font-size:20px;
   margin-top:8px;
}

.header #file_info{
   float:right;      
   margin-top:12px;
   font-size:11px;
}

.log_details{   
   margin-top:30px;
}

.log_details ul{
   margin:0 20px 0 40px;     
}

.log_details li{   
   border-bottom:1px solid #D9D9D9;
   list-style:circle;
   padding:5px;
   font-size:13px;  
}

.log_details li a{
   text-decoration:none;
}

.sub_log{
   border: 1px dotted rgb(159, 155, 99);
   padding: 1em;
   overflow: auto;
   background-color: rgb(255, 253, 223);   
   margin-bottom: 20px;
   margin-top: 10px;
}

.error{
  color: red;
}


